.u-vertical-center {
	&:before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
	}
}

.u-vertical-center__content {
	display: inline-block;
	vertical-align: middle;
}
